.loginContainer {
    display: flex;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(225, 225, 225, .5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 368px;
    min-height: 300px;
    padding: 18px;
    font-family: "Roboto Light", serif;
}

.LogoContainer {
    weight: auto;
    height: auto;
    text-align: center;
}

.Logo {
    width: 200px;
}

.reg {
    float: left;
}

.find {
    float: right;
}

.regFindLink {
    text-decoration: none;
    font-size: 14px;
    color: rgb(180, 200, 255);
    font-family: 华文楷体, serif;
    margin-bottom: 20px;
}

.regFindLink:hover {
    color: rgb(155, 170, 255);
    transition: color 0.2s ease-in;
}