.notFound{

}
.backToMain{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 华文楷体, serif;
    padding: 10px;

}
.backToMain:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in;
}
.detail{
    height: 200px;
}